{
	"defaultConfig": {
		"buildType": "develop",
		"api": "CoreEngine",
		"libraryDir": "library/"
	},
	"resources": [
		{
			"path": "resources/",
			"resourceType": "resource"
		}
	],
	"buildDirs": [
		{
			"dir": "script/",
			"targetSource": "script.js"
		}
	],
	"compile": [
		{
			"path": "launcher.js",
			"sourceType": "launcher"
		},
		{
			"path": "script.js",
			"sourceType": "mod"
		}
	],
	"javaDirs": [],
	"nativeDirs": []
}
